<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="ucodeBgContainer">
        <div class="container">
            <h2 id="topQuestion">Are you ready for a Challenge!?</h2>
            <h1>COMPETITION</h1>
            <h2>2pm - 4pm Sunday, June 2nd</h2>
            <p class="lead">Enter your name to join <strong>{{ count }}</strong> other competitors.</p>
            <p id="mixer">Mixer at 3:05pm - Awards Ceremony at 3:30pm</p>
            <a href="#requirements"><i id="downArrow" class="fas fa-angle-double-down"></i></a>
        </div>
    </div>    
    
    <section id="requirements">
        <h1>REQUIREMENTS</h1>
        <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
            </div>
            <h2>Beginner's Competition</h2>
            <p>You have been at UCode for <strong>LESS THAN</strong> 5 months.</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-rocket"></i>
            </div>
            <h2>Competitive Spirit!</h2>
            <p>You might lose, or you might win, but either way you enjoy the game!</p> 
        </div>     
    </div>
    <div id="formContainer">
        <form>
            <div>
                <input type="text" class="form" id="studentName" placeholder="Enter Your Full Name">
            </div>
            <div>
                <input type="text" class="form" id="studentEmail" placeholder="Enter Your Email">
            </div>
            <section id="levelDrop">
            <label class="scheduleLabel">Competition Level</label>
            <div class="dropdown">
                <button type="button" id="competitionLevel" name="level" value="Beginner" class="dropbtn">Beginner</button>
                <div id="level" class="dropdown-content">
                    <a value="Beginner" onclick="changeLevel(event)">Beginner</a>
                </div>
            </div>
            </section>
            <section id="locationDrop">
            <label class="scheduleLabel">Location</label>
            <div class="dropdown">
                <button type="button" id="displayLocation" name="location" value="ManhattanBeach" class="dropbtn">Manhattan Beach</button>
                <div id="location" class="dropdown-content">
                    <a value="ManhattanBeach" onclick="changeLocation(event)">Manhattan Beach</a>
                    {{!-- <a value="Torrance" onclick="changeLocation(event)">Torrance</a>
                    <a value="Tustin" onclick="changeLocation(event)">Tustin</a>
                    <a value="LaCanada" onclick="changeLocation(event)">La Canada</a>
                    <a value="Ithaca" onclick="changeLocation(event)">Ithaca</a> --}}
                </div>
            </div>
            </section>
            <section id="locationDrop">
            <label class="scheduleLabel">Theme Vote</label>
            <div class="dropdown">
                <button type="button" id="displayVote" name="vote" value="fortnite" class="dropbtn">Fortnite</button>
                <div id="location" class="dropdown-content">
                    <a value="fortnite" onclick="changeVote(event)">Fortnite</a>
                    <a value="minecraft" onclick="changeVote(event)">Minecraft</a>
                    <a value="animals" onclick="changeVote(event)">Zoo Animals</a>
                </div>
            </div>
            </section>
            <p id="registrationMsg">Registration submitted successfully</p>
            <button type="button" id="joinBtn">Join Now</button>
        </form>
    </div>
    </section>
    <section id="prizes">
        <h1>PRIZES</h1>
        <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-amazon"></i>
            </div>
            <h2>1st Prize</h2>
            <p><strong>$50</strong> Amazon Gift Card</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-amazon"></i>
            </div>
            <h2>2nd Prize</h2>
            <p><strong>$25</strong> Amazon Gift Card</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-coins"></i>
            </div>
            <h2>UCoins</h2>
            <p>Everyone that completes the competition will get <strong>50</strong> UCoins!</p> 
        </div>
    </div>
    </section>
    <section id="theme">
        <h1>THEME</h1>
        <h2>We don't know yet!</h2>
        <h2><i class="fas fa-vote-yea"></i></h2>
        <p>We are going to have a vote!</p>
    </section>
    <section id="prizes" class="offWhiteBG">
        <h1>SCORING</h1>
        
        <h2>Level 1 Competition Scoring</h2>
        <p>Entries will earn a single point for each one of the items on the list below.</p>
        <div class="flexRow">
            <ul class="scoringList">
                <li>Paragraph Tags</li>
                <li>Heading Tags</li>
                <li>Images</li>
                <li>Unordered List</li>
                <li>Ordered List</li>
                <li>List Items</li>
                <li>Anchor Tag</li>
                <li>Insert Tag</li>
                <li>Delete Tag</li>
                <li>Style Attribute</li>
                <li>Style Tag</li>
                <li>External Style Sheet</li>
                <li>Text Alignment</li>
                <li>Line Height</li>
                <li>Descendant Selector</li>
                <li>Margin</li>
                <li>Padding</li>
                <li>Border</li>
                <li>Body Tags</li>
                <li>Flex Box</li>
                <li>Percentages</li>
                <li>Nav Tags</li>
                <li>CSS Classes</li>
                <li>Header Tags</li>
                <li>Footer Tags</li>
                <li>Box Shadow</li>
                <li>Figure</li>
                <li>Figcaption</li>
                <li>Background Image</li>
                <li>Background Size</li>
                <li>Flex Direction</li>
                <li>Linear Gradient</li>
                <li>Layered Background</li>
                <li>Hover Pseudo-Class</li>
                <li>CSS Transition</li>
                <li>Transform: Scale</li>
                <li>Border Radius</li>
                <li>Transform Translate</li>
            </ul>
        </div>
{{!-- 
        <h2>Level 2 Competition Scoring</h2>
        <p>Level two entries will earn a single point for each one of the items on the list below.
              You also earn a single point for each item present from the Level one list.</p>
        <div class="flexRow">
            <ul class="scoringList">
                <li>Var keyword</li>
                <li>Let keyword</li>
                <li>Const keyword</li>
                <li>getElementById</li>
                <li>Changing innerHTML</li>
                <li>Append Child</li>
                <li>Text Input</li>
                <li>Placeholder Attribute</li>
                <li>Getting Input value</li>
                <li>Select Input</li>
                <li>Radio Input</li>
                <li>Value Attribute</li>
                <li>Template Strings</li>
                <li>If Statements</li>
                <li>Functions</li>
                <li>Arrow Functions</li>
                <li>Javascript Objects</li>
                <li>Arrays</li>
                <li>Looping</li>
                <li>JSON Parse</li>
                <li>JSON Stringify</li>
                <li>Map</li>
            </ul>
        </div> --}}


    </section>
    <section>
        <h1>RULES</h1>
        <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="far fa-clock"></i>
            </div>
            <h2>60 Minute Time Limit</h2>
            <p>Website must be started and completed during the time limit.</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="far fa-question-circle"></i>
            </div>
            <h2>Minimum Help</h2>
            <p>Instructors cannot do it for you!</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-clipboard-check"></i>
            </div>
            <h2>Finish</h2>
            <p>50 UCoins only for those that finish the competition.</p> 
        </div>
    </div>
    </section>
    
    </div>
<script src="input.js"></script>
<script src="pause-scroll.js"></script>
</body>