<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="ucodeBgContainer">
        <div class="container">
            <h2 id="topQuestion">Are you ready for a Challenge!?</h2>
            <h1>COMPETITION</h1>
            <h2>Saturday, MAY 11th</h2>
            <p class="lead">Enter your name to join <strong>{{ count }}</strong> other competitors.</p>
            <a href="#requirements"><i id="downArrow" class="fas fa-angle-double-down"></i></a>
        </div>
    </div>    
    
    <section id="signUp">
        <h1>REQUIREMENTS</h1>
        <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
            </div>
            <h2>Competition Level 1</h2>
            <p>You have completed Milestone 1 and 2.  Now you are ready to show what you know!</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-js"></i>
            </div>
            <h2>Competition Level 2</h2>
            <p>You've completed Milestone 3 and have a solid grasp of Javascript basics.</p> 
        </div>

        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-rocket"></i>
            </div>
            <h2>Competitive Spirit!</h2>
            <p>You might lose, or you might win, but either way you enjoy the game!</p> 
        </div>
    </div>
    <div>
        <form>
            <div>
                <input type="text" class="form" id="studentName" placeholder="Enter Your Full Name">
            </div>
            <div>
                <input type="text" class="form" id="studentEmail" placeholder="Enter Your Email">
            </div>
            <section id="levelDrop">
            <label class="scheduleLabel">Competition Level</label>
            <div class="dropdown">
                <button type="button" id="competitionLevel" name="level" value="Level1" class="dropbtn">Level 1</button>
                <div id="level" class="dropdown-content">
                    <a value="Level1" onclick="changeLevel(event)">Level 1</a>
                    <a value="Level2" onclick="changeLevel(event)">Level 2</a>
                </div>
            </div>
            </section>
            <section id="locationDrop">
            <label class="scheduleLabel">Location</label>
            <div class="dropdown">
                <button type="button" id="displayLocation" name="location" value="ManhattanBeach" class="dropbtn">Manhattan Beach</button>
                <div id="location" class="dropdown-content">
                    <a value="ManhattanBeach" onclick="changeLocation(event)">Manhattan Beach</a>
                    <a value="Torrance" onclick="changeLocation(event)">Torrance</a>
                    <a value="Tustin" onclick="changeLocation(event)">Tustin</a>
                    <a value="LaCanada" onclick="changeLocation(event)">La Canada</a>
                    <a value="Ithaca" onclick="changeLocation(event)">Ithaca</a>
                </div>
            </div>
            </section>
            <p id="registrationMsg">Registration submitted successfully</p>
            <button type="button" id="joinBtn">Join Now</button>
        </form>
    </div>
    </section>
    <section id="prizes">
        <h1>PRIZES</h1>
        <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-amazon"></i>
            </div>
            <h2>1st Prize</h2>
            <p>Amazon Gift Card</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-amazon"></i>
            </div>
            <h2>2nd Prize</h2>
            <p>Amazon Gift Card</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-coins"></i>
            </div>
            <h2>UCoins</h2>
            <p>Everyone that completes the competition will get UCoins!</p> 
        </div>
    </div>
    </section>
    <section id="prizes">
        <h1>SCORING</h1>
        
        <h2>Level 1 Competition Scoring</h2>
        <p>Entries will earn a single point for each one of the items on the list below.</p>
        <ul>
            <li>Sections have Heading Tags</li>
            <li>Images</li>
            <li>List</li>
            <li>Style Sheet</li>
            <li>Border</li>
            <li>Header Tags</li>
            <li>Footer Tags</li>
            <li>Body Tags</li>
            <li>Text Alignment</li>
            <li>Box Shadow</li>
            <li>Flex Box</li>
            <li>Nav Tags</li>
            <li>CSS Classes</li>
            <li>Background Image</li>
            <li>Flex Direction</li>
            <li>Linear Gradient</li>
            <li>Layered Background</li>
            <li>Hover Pseudo-Class</li>
            <li>CSS Transition</li>
            <li>Transform: Scale</li>
            <li>Border Radius</li>
            <li>Transform Translate</li>
        </ul>
        <h2>Level 2 Competition Scoring</h2>
        <p>Level two entries will earn a single point for each one of the items on the list below.
              You also earn a single point for each item present from the Level one list.</p>
        <ul>
            <li>getElementById</li>
            <li>Changing innerHTML</li>
            <li>Get Input value</li>
            <li>Template Strings</li>
            <li>If Statements</li>
            <li>Arrow Functions</li>
            
        </ul>
    </section>
    
    </div>
<script src="input.js"></script>
</body>