<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h2>Are you ready for a Challenge!?</h2>
        <h1>COMPETITION</h1>
        <h2>Saturday, MAY 11th</h2>
        <p class="lead">Enter your name to join <strong>{{ count }}</strong> other competitors.</p>
        <a href="#requirements"><i id="downArrow" class="fas fa-angle-double-down"></i></a>
    </div>

    <div id="requirements" class="requirements-container">
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
            </div>
            <h2>Competition Level 1</h2>
            <p>You have completed Milestone 1 and 2.  Now you are ready to show what you know!</p> 
        </div>
        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fab fa-js"></i>
            </div>
            <h2>Competition Level 2</h2>
            <p>You've completed Milestone 3 and have a solid grasp of Javascript basics.</p> 
        </div>

        <div class="requirements-item">
            <div class="flexRow blueBG">
                <i class="fas fa-rocket"></i>
            </div>
            <h2>Competitive Spirit!</h2>
            <p>You might lose, or you might win, but either way you enjoy the game!</p> 
        </div>
    </div>
    <div>
        <form>
            <div>
                <input type="text" class="form" id="studentName" placeholder="Enter Your Full Name">
            </div>
            <div>
                <input type="text" class="form" id="studentEmail" placeholder="Enter Your Email">
            </div>
            <section id="levelDrop">
            <label class="scheduleLabel">Competition Level</label>
            <div class="dropdown">
                <button type="button" id="competitionLevel" name="level" value="Level1" class="dropbtn">Level 1</button>
                <div id="level" class="dropdown-content">
                    <a value="Level1" onclick="changeLevel(event)">Level 1</a>
                    <a value="Level2" onclick="changeLevel(event)">Level 2</a>
                </div>
            </div>
            </section>
            <section id="locationDrop">
            <label class="scheduleLabel">Location</label>
            <div class="dropdown">
                <button type="button" id="displayLocation" name="location" value="ManhattanBeach" class="dropbtn">Manhattan Beach</button>
                <div id="location" class="dropdown-content">
                    <a value="ManhattanBeach" onclick="changeLocation(event)">Manhattan Beach</a>
                    <a value="Torrance" onclick="changeLocation(event)">Torrance</a>
                    <a value="Tustin" onclick="changeLocation(event)">Tustin</a>
                    <a value="LaCanada" onclick="changeLocation(event)">La Canada</a>
                    <a value="Ithaca" onclick="changeLocation(event)">Ithaca</a>
                </div>
            </div>
            </section>
            <p id="registrationMsg">Registration submitted successfully</p>
            <button type="button" id="joinBtn">Join Now</button>
        </form>
    </div>
</div>
<script src="input.js"></script>
</body>