<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/thanks.css">
</head>

<body>
    <div class="flex-container">
    <div class="ucodeBgContainer">
        <div class="container opaqueBG">
            <h2 id="topQuestion">UCode MB thanks all our Mother's Day Competitors!</h2>
            <h1>CONGRATULATIONS!</h1>
            <h2>We were very impressed with your entries!</h2>
            {{!-- <p class="lead">Enter your name to join <strong>{{ count }}</strong> other competitors.</p> --}}
            {{!-- <p id="mixer">Mixer at 3:05pm - Awards Ceremony at 3:30pm</p> --}}
            <a href="#winners"><i id="downArrow" class="fas fa-angle-double-down"></i></a>
        </div>
    </div>    
    
    <section id="winners">
        <h1>WINNERS</h1>
        <div id="winners" class="winners-container">
        <div class="winners-item">
            <div class="flex-container blueBG">
                <img class="winImg" src="/images/winners/dylan_moulthrop_400.png">
               <i class="fas fa-medal"></i>
            </div>
            <h2 class="winName">Dylan Moulthrop</h2>
            <h2>Level 1 Winner</h2>
            
            <p>Dylan received $50 Bezos bucks!</p> 
        </div>
        <div class="winners-item">
            <div class="flex-container blueBG">
                <img class="winImg" src="/images/winners/angie_tsuboi_400.png">
                <i class="fas fa-medal"></i>
            </div>
            <h2 class="winName">Angie Tsuboi</h2>
            <h2>Level 2 Winner</h2>
            
            <p>Angie won a 50$ Amazon Gift Card</p> 
        </div>

        <div class="winners-item">
            <div class="flex-container blueBG">
                <img class="winImg" src="/images/winners/jason_agus_400.png">
                <i class="fas fa-medal"></i>
            </div>
            <h2 class="winName">Jason Agus</h2>
            <h2>Level 2 Runner Up</h2>
            
            <p>Jason brought home a $25 Amazon Gift Card</p> 
        </div>
    </div>
    </section>
    
    <section id="theme">
        <h1>THEME</h1>
        <h2>Mother's Day Card</h2>
        <p>Mothers around UCode were touched by the student cards!</p>
    </section>

    <section id="next">
        <div class="flex-container container">
            <h1>NEXT TIME</h1>
            <h2>There will be another competition soon!</h2>
            <h2>Train and Study hard and you too can win!</h2>
        </div>
    </section>

    <section id="parents">
        <div class="flex-container container">
            <h1>PARENTS</h1>
            <h2>UCode Thanks You!</h2>
            <h2>Without you none of this would be possible for us!</h2>
        </div>
       
    </section>

    <section id="coins">
        <div class="flex-container container">
            <h1>Competitors</h1>
            <h2>You will all be awarded <strong>50</strong> UCoins</h2>
            <p>All these handsome folks are getting coins!</p>
            <i id="downArrow" class="fas fa-angle-double-down"></i>
        </div>
    </section>

    <section id="group-pic">
        <div class="threeQuarterContainer groupBG"></div>
    </section>

    <section id="jeremiah">
        <div class="flex-container sixtyContainer">
            <h2>It's basically free money, who doesn't like free money?</h2>
            <h2 class="rightAlign quoteMargin">-Jeremiah</h2>
        </div>
    </section>

    <section id="">
        <div class="flex-container container janaBG"></div>
    </section>

    <section id="allen">
        <div class="flex-container sixtyContainer">
            <h2>I think things went pretty well</h2>
            <h2 class="rightAlign quoteMargin">-Allen</h2>
        </div>
    </section>

    <section id="">
        <div class="flex-container container sullyBG"></div>
    </section>

    <section id="bret">
        <div class="flex-container sixtyContainer">
            <h2>Very pleased with the conduct AND output of our competitors!</h2>
            <h2 class="rightAlign quoteMargin">-Bret</h2>
        </div>
    </section>

    <section id="">
        <div class="flex-container container">
            <img width="100%" src="/images/ruben.png" alt="">
        </div>
    </section>
    
   
    
    </div>
    <script src="scroll.js"></script>
</body>